<style>
body {
  background-image: url('https://cdn5.f-cdn.com/contestentries/1476645/3722903/5c790acfaed94_thumb900.jpg');
  background-repeat: no-repeat;
  background-size: cover
}
p,h4,a{
	color:white;
}
</style>
<center>
<a href="https://github.com/luv22/">GitHub:luv Gupta</a>
<form action = "/templates" id="sumform" method = "POST">
				<p>Enter the text you wish to summarize:</p>
				<textarea maxlength = "4000" name = "input_text" id = "input_text" style="width:600px; 
				height:250px" value = "{{request.form['input_text']}}" ></textarea>
				
				<p>
					<input type="submit"  class="btn btn-success btn-md" value="Submit">
				</p>
				<!-- <h2> my summary</h2> -->
				<h4>Summarized Text: </h4>
				<textbox name="output_text" id="output_text" maxlength="50000" style="width:600px; 
				height:250px">
					{% for sentence in output_summary %}
					<p>{{ output_summary }} </p>
					<!-- {% endfor %} -->
				</textbox>
				<br>
				<h4>Original Text:</h4>
				<p>{{ original_text }}</p>
			</form>
			
			</center>
